
  .cards{
    width: 100%;
    height: auto;
  }

  .card{
    margin: 6%;
    transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
    background-color: rgb(255, 255, 255);
    width: 21.25;
    border-radius: 13px;
    box-shadow: 0px 14px 10px -7px rgba(0,0,0,0.1);
    float: left;
  }


  


  .card__img{
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    background-color: #f9e8c1;  
  
  }

  .card__img:hover{
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    background-color: #fba607;  
  
  }
  .card__info{
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    color:grey
  }


  .card__info h1{

    font-size: 22px;
    color: #fba607;
   
  }
  .card__category{
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    /* color:#fba607; */
    background-color: white;
  }
  .card__title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "cursive";
    background-color: white;
    text-transform: capitalize;
  }
  
  