.leftside-main{

    display: flex;
    flex-direction: column;
    
}

.filter-category{
    display: flex;
    flex-direction: column;
}
.filter-categoryButton{

    /* background-color: antiquewhite; */
  
}
.filter-categoryButton-active{

    background-color:green;
    opacity: 1;
}