.loginPage{
    margin: 0 auto;
    margin-top: 8vh;
    border-radius: 5px;
    width: 430px;
    -webkit-box-shadow: 0 0 2px grey;
    box-shadow: 0 0 2px grey;
    padding: 15px 30px;
    text-align: center;
    background-color: white;
    position: relative;
    /* height: 250px; */
}

.loginName{
	font-size: 20px;
	font-family: monospace;
	/* background-color: #ffecb5 ; */
	font-weight: 600;
	width: fit-content;
	margin: 10px auto;
	/* padding: 5px 10px; */
}

/* .loginWithGoogle{
    position: relative;
    top: 5px;
    width: fit-content;
    margin: 10px auto;
    padding: 9px 15px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px grey;
    box-shadow: 0 0 1px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: not-allowed;
} */
.icon{
    position: relative;
    top: 1px;
    height: 30px;
    margin-left: 10px;
    /* padding: 5px; */
    /* margin: 0px 10px; */
}
.loginWithGoogle:hover{
    padding-top: 8px;
    /* margin: 39px auto; */
    /* margin: 9px auto; */
    border: 1px solid #ff3522;
}
.firstlastNameDiv{
    display: flex;
    justify-content: space-between;
}
.box{
    width: calc(100% - 10px);
    font-family: "Poppins";
    height: 30px;
    padding: 10px;
    margin: 5px;
    outline: none;
    color: rgb(61, 61, 61);
    border: 1px solid rgb(148, 148, 148);
    border-radius: 4px;
}

.boxDown{
    /* box-sizing: border-box; */
    width: calc(100% - 10px);
}

.submitButton{
    margin-top: 10px;
    height: 35px;
    width: calc(100% - 10px);
    color: white;
    background-color: rgb(6, 114, 255);
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
}
.lastDiv{
    margin-top: 15px;
}
.here{
    color:rgb(6, 114, 255);
}
.warnings{
    color: red;
    font-family: "Plus Jakarta Sans";
    font-size: 15px;
}
.invalid{
    visibility: hidden;
    color: red;
    font-family: "Plus Jakarta Sans";
    font-size: 15px;
}
.spinner{
    position: relative;
    top: -8px;
    height: 35px;
}