/* SingleFoodData.css */

/* Base styles for all screen sizes */
.SingleFoodPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 20px;
}

.SingleFoodPage-photo {
  max-width: 300px;
  border: 4px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.SingleFoodPage_name {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.SingleFoodPage-category {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
}

.SingleFoodPage-cost {
  font-size: 30px;
  font-weight: bold;
  color: #e83e8c;
}

.SingleFoodPage-restaurantname {
  font-size: 18px;
  color: #888;
  margin-top: 10px;
}

.SingleFoodPage-addToCart {
  margin-top: 40px;
}

.SingleFoodPage-addToCart button {
  padding: 12px 30px;
  background-color: #FBB517;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.SingleFoodPage-addToCart button:hover {
  background-color: #c4832d;
}

.SingleFoodPage-addToCart button {
  margin: 10px;
  margin-bottom: 10px;
}

/* Mobile Styles */
@media (max-width: 576px) {
  .SingleFoodPage-photo {
    max-width: 100%;
  }

  .SingleFoodPage_name {
    font-size: 24px;
  }

  .SingleFoodPage-category {
    font-size: 16px;
  }

  .SingleFoodPage-cost {
    font-size: 24px;
  }

  .SingleFoodPage-restaurantname {
    font-size: 14px;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
  .SingleFoodPage-photo {
    max-width: 400px;
  }

  .SingleFoodPage_name {
    font-size: 28px;
  }

  .SingleFoodPage-category {
    font-size: 18px;
  }

  .SingleFoodPage-cost {
    font-size: 26px;
  }

  .SingleFoodPage-restaurantname {
    font-size: 16px;
  }
}

/* Desktop Styles */
@media (min-width: 1200px) {
  .SingleFoodPage-photo {
    max-width: 500px;
  }

  .SingleFoodPage_name {
    font-size: 48px;
  }

  .SingleFoodPage-category {
    font-size: 24px;
  }

  .SingleFoodPage-cost {
    font-size: 36px;
  }

  .SingleFoodPage-restaurantname {
    font-size: 20px;
  }
}
