/* .SingleFoodPage{
    display: flex;
   flex-direction: row;
}

.SingleFoodPage-info{
    display: flex;
    flex-direction: column;
}
.SingleFoodPage-brief{
    flex:40%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
.SingleFoodPage-fullDescription{
    flex:60%;
    background-color: antiquewhite;
}
 */


.SingleFoodPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .SingleFoodPage-brief {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .SingleFoodPage-photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .SingleFoodPage-info {
    display: flex;
    flex-direction: column;
  }
  
  .SingleFoodPage_name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .SingleFoodPage-category {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .SingleFoodPage-cost {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .SingleFoodPage-restaurantname {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .SingleFoodPage-addToCart {
    margin-top: 20px;
  }
  
  .SingleFoodPage-fullDescription {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
  }
  