

.container {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-right: 0;
    padding-left: 10px;
  }
  
  .image-section {
    display: flex;
    justify-content: space-between;
  }
  
  .image-section img {
    padding: 10px;
    width: 20rem;
    height: 12rem;
    max-width: 100%;
    border-radius: 18px;
  transition: transform 0.3s ease;
  }
  
  .image-section img:hover {
    transform: scale(1.05);
  }


  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .content1 {
    flex: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 120px;
  }
  
  .content1 h3 {
    font-size: 50px;
    font-weight: bold;
    color: #333;
  }
  
  .content1 p {
    font-size: 30px;
    margin-bottom: 20px;
    color: #666;
  }
  
  .content1 button {
    height: 40px;
    width: 100px;
    background-color: #fbb517;
    border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .content1 button:hover {
    background-color: #e88017;
  }
  .content2 {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content2 img {
    width: 100%;
    height: auto;
    border-radius: 23px;
  }
  
  @media only screen and (max-width: 1200px) {
    .container {
      padding-left: 20px;
    }
  
    .content1 {
      margin-right: 50px;
    }
  
    .content2 img {
      max-width: 500px;
      max-height: 400px;
    }
  }



  @media only screen and (max-width: 1200px) {
    .container {
      padding-left: 20px;
    }
  
    /* .image-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    } */
  
    .image-section img {
      padding: 10px;
      margin: 10px;
       width: 20%;
       height:auto;
    }
  
    .content {
      margin-top: 20px;
      display: flex;
       flex-direction: column;
       align-items: center;
    } 
  
     .content2 img {
      max-width: 100%;
      height: auto;
    }
  
    .content1 button {
      margin-top: 20px;
      margin-bottom: 10px;
      height: 40px;
      width: 80px;
      background-color: #fbb517;
    }
  } 
   


  
   @media only screen and (max-width: 702px) {
    .container {
      padding-left: 20px;
    }
  
    .image-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .image-section img {
      padding: 10px;
      margin: 10px;
       width: 60%;
       height:auto;
    }
  
    .content {
      margin-top: 20px;
      display: flex;
       flex-direction: column;
       align-items: center;
    } 
  
     .content2 img {
      max-width: 100%;
      height: auto;
    }
  
    .content1 button {
      margin-top: 20px;
      margin-bottom: 10px;
      height: 40px;
      width: 80px;
      background-color: #fbb517;
    }
  } 
   
  @media only screen and (max-width: 568px) {
    .container {
      padding-left: 20px;
    }
  
    .image-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .image-section img {
      padding: 10px;
      margin: 10px;
      width: 80%;
      height:auto;
    }
  
    .content {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .content2 img {
      max-width: 100%;
      height: auto;
    }
  
    .content1 button {
      margin-top: 20px;
      margin-bottom: 10px;
      height: 40px;
      width: 80px;
      background-color: #fbb517;
    }
  }
  