.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
  .profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-info {
    text-align: left;
  }
  
  .profile-info h2 {
    margin-bottom: 10px;
  }
  